<!DOCTYPE html>
html
	head
		title -- Truco
		link rel="stylesheet" href="/css/style.css"
		meta name="viewport" content="width=device-width, user-scalable=no"
		meta name="theme-color" content="#FFFFFF"
		meta name="mobile-web-app-capable" content="yes"
		meta name="apple-mobile-web-app-capable" content="yes"
	body
	script src="/js/bundle.js"
